.testing-border {
  border: 1px solid red !important;
}

//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active-page {
  display: block;
}

.inactive-page {
  display: none;
}

.navbar {
  background-color: transparent !important;
}

body {
  background-image: url("https://homebrewery.naturalcrit.com/assets/parchmentBackground.jpg");
}
