// Controls what the current active page on the navbar looks like
.active-page {
  display: flex;
  // height: 90vh;
}

// Controls what the current inactive pages on the navbar look like
.inactive-page {
  display: none;
}

header {
  // backdrop-filter: blur(15px);
  min-width: 100% !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar {
  background-color: transparent !important;
  font-family: Beleren;

  display: flex;
  width: 100%;
  // Color the Navbar Text
  color: var(--bs-offcanvas-color);
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-body-color: $main-text;

  --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
  --bs-emphasis-color-rgb: $main-text;

  // Color the Navbar Text on Hover
  --bs-navbar-hover-color: yellow;
  // Color the Active Navbar Text
  --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
  // Color Disabled Navbar Text
  --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
}
