// Controls what the current active page on the navbar looks like
.active-page {
  display: flex;
  height: 100%;
}

// Controls what the current inactive pages on the navbar look like
.inactive-page {
  display: none;
}

.navbar {
  background-color: transparent !important;
  font-family: Beleren;

  display: flex;

  width: 100%;
  --bs-nav-link-color: ;
  --bs-navbar-hover-color: ;
  // --bs-emphasis-color-rgb: $text-color !important;
}

.offcanvas {
  // color: $text-color;
}
