.column_n1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: auto;
  height: 100%;
  display: flex;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2811d949-6ea8-46e1-8e8b-884f1a556750/denwl40-4eda66df-041d-4b75-bc97-ea362069bf75.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI4MTFkOTQ5LTZlYTgtNDZlMS04ZThiLTg4NGYxYTU1Njc1MFwvZGVud2w0MC00ZWRhNjZkZi0wNDFkLTRiNzUtYmM5Ny1lYTM2MjA2OWJmNzUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CFxgXYTsk-Jwt16ezvQW8JMHroeC7JtO_lln0wsEQ-0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.column_n1::before {
  content: "";
  font-family: "shape divider from ShapeDividers.com";
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  top: -1px;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 90px 100%;
  background-position: 100% 50%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1.67 0c-.55 3.07.41 9.27 0 16.14-.4 6.88-.58 13.75.1 19.14h.4V0z" fill="%23ffffff"/><path d="M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z" opacity=".5" fill="%23ffffff"/><path d="M.31 0c.84 2.56.3 7.68.43 11.79.12 4.1.61 6.86.28 9.58-.33 2.73-1.18 5.61-1 8.61.19 3 .82 4.73.84 5.3h1.2V0z" opacity=".5" fill="%23ffffff"/></svg>');
}

@media (min-width: 768px) {
  .column_n1::before {
    background-size: 90px 100%;
    background-position: 100% 50%;
  }
}

@media (min-width: 1025px) {
  .column_n1::before {
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 90px 100%;
    background-position: 100% 50%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.17 35.28" preserveAspectRatio="none"><path d="M1.67 0c-.55 3.07.41 9.27 0 16.14-.4 6.88-.58 13.75.1 19.14h.4V0z" fill="%23ffffff"/><path d="M1.16 0c-.8 3.17.4 7.29.56 10.04C1.89 12.8.25 19.3.42 22.71c.16 3.43.84 4.65.86 7.05.03 2.4-.88 5.52-.88 5.52h1.77V0z" opacity=".5" fill="%23ffffff"/><path d="M.31 0c.84 2.56.3 7.68.43 11.79.12 4.1.61 6.86.28 9.58-.33 2.73-1.18 5.61-1 8.61.19 3 .82 4.73.84 5.3h1.2V0z" opacity=".5" fill="%23ffffff"/></svg>');
  }
}

.column_n2 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: auto;
  background-color: #ffffff;
  height: 100%;
  display: flex;
  justify-content: center !important;
  flex-direction: column !important;
}

#register-btn {
  border-radius: 8px;
}

.register-section {
  margin: 0.5rem;
}

.form-direction {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
