#home-page {
  // background-image: url("https://images.unsplash.com/photo-1522335789204-472988babdf9");
  background-color: green;
}

#shop-page {
  background-image: url("../assets/images/background-index.webp");
}

#about-us {
  background-color: random($limit: 1);
}

#contact-us-page {
  background-color: random($limit: 1);
}

#register-page {
  background-color: random($limit: 1);
}

#login-page {
  background-image: url("../assets/images/background-image.webp");
}

#profile-page {
  background-color: random($limit: 1);
}

#favorite-pics-page {
  background-color: random($limit: 1);
}

#page-not-found-page {
  background-color: random($limit: 1);
}
