.index-page {
  background-color: black;
}

.other-pages {
  background: url("../assets/images/background-image.webp") no-repeat center;
  background-size: cover;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  //   url("../assets/imgs/background-image.webp");

  #shop-page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // Tints the background Image so the rest of the website is more legible:
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../assets/images/background-index.webp");
  }
}
