.carousel-center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#next-carousel-btn{
    margin-left: 1em;
}

.carousel-inner > .carousel-item > img {
    height: 18.75rem;
    width: 18.75rem;
}