@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $size == tablet-portrait {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $size == tablet-landscape {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $size == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop {
    @media (max-width: 1400px) {
      @content;
    }
  }
}

#logo {
  width: 5vw;
}

.asterisk {
  color: red;
}

.home-btn-option {
  margin-bottom: 0.3rem;
}

// --------------------------------------------------------------------------

.testing-border {
  border: 1px solid red !important;
}

$main-text: white;

// --------------------------------------------------------------------------

// --------------------------------------------------------------------------
//Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// --------------------------------------------------------------------------
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// --------------------------------------------------------------------------

// Define section height
$section-height: 100vh;

// Define footer height
$footer-height: 60px;

// Define header height
$header-height: 10vh;

header {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: $header-height;
}

section {
  min-height: 100vh;
  padding-bottom: $footer-height;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

/* Hide the footer when the content is longer than the viewport height */
section:after {
  content: "";
  // display: none !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height; /* adjust to the height of your footer */
  border: 1px solid red !important;
}

// Style for footer
footer {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
  height: $footer-height;
  // position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  text-align: center;
  background-color: transparent;
  margin: auto;
}

.container {
  flex-direction: column;
}

// This class is attached to a div that adds some empty space in order to align the start of each page with the header (which is currently positioned as absolute)

.empty {
  height: $header-height;
}

// --------------------------------------------------------------------------
@font-face {
  font-family: Beleren;
  src: url(../assets/fonts/typeface-beleren-bold-master/Beleren2016-Bold.woff);
}
// --------------------------------------------------------------------------

// Controls what the current active page is
.active-page {
  display: flex;
  // min-height: 95vh;
}

// Controls what the current inactive pages are
.inactive-page {
  display: none;
}
// --------------------------------------------------------------------------

hr {
  height: 0.15em;
  background-image: linear-gradient(
    to right,
    rgb(0, 68, 255),
    rgba(0, 102, 255, 0)
  );
  border: none;
  opacity: 100% !important;
}

.main-section {
  margin: auto;
  align-items: center;
  display: flex;
}

h2 {
  font-size: 3rem;
}

.home-btn-option {
  margin-bottom: 0.3rem;
}

#homeDisplaySortASC {
  margin-right: 0.3rem;
}

// --------------------------------------------------------------------------
// Prefixes for any flexbox needed, as recommended on https://css-tricks.com/snippets/css/a-guide-to-flexbox/

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

.wrapper {
  @include flexbox();
}

.item {
  @include flex(1 200px);
  @include order(2);
}
